<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div class = "container">
     <div class = "row">
         <h1> List Employees </h1>
     </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "employee: ${employees}">
            <td th:text = "${employee.getFirstname()}"></td>
            <td th:text = "${employee.getLastname()}"></td>
            <td th:text = "${employee.getEmail()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>